.profile {
    display: grid;
    max-width: 882px;
    margin: 36.25px auto 47.25px;
    grid-template-areas: "avatar userinfo add";
    grid-template-rows: 1fr;
    grid-template-columns: 150px 1fr 150px;
}

@media (max-width: 700px) {
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 38.25px auto 36px;
    }
}
